/*
	Inserta tu CSS aqui
*/
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
}
header {
	background: url(../img/grupal.jpg);
	background-size: cover;
	height: 800px;
	background-repeat: no-repeat;	
}
.mini img{
	width: 100%;
	margin-top: 15px;
}
#bottom {
	margin-bottom: 10px;
	margin-top: 10px;
}

.logo img{
	width: 500px;
	text-align: center;
	margin-left:0 ;
	margin-top: 80px;
}
a {
	text-decoration: none;
	color: black;
	text-align: center;
	margin-left: 18px;
	margin-bottom: 8px;
}
.caja {
	background-color: orange;
	margin-top: 50px;
	width: 90px;
	height: 30px;
	padding: 10px 30px 30px 0;
}
li{
	display: inline;
	font-size: 13px;
	margin-left: 0;
 }
ul {
	margin-top: 60px;
	margin-left: 40px;
}
section a {
	margin-left: 0;
    margin-bottom: 20px;
}
footer {
	background: grey;
	height: 80px;
	color: white;
}
footer p {
	margin-top: 20px;
}